html {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif, Ubuntu;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: #22C;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: #44F;
  }
}

form {
  input, button {
    padding: 0.5rem;
    border-radius: 2px;
  }
  button {
    background-color: #111;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #333;
    }
    &[disabled] {
      background-color: #333;
      cursor: not-allowed;
    }
  }
  input {
    border: 2px #CCC solid;
  }
}